<div class="row">
        <% @computers.each do |computer| %>
    <div class="col-md-4">
        <div class="thumbnail well">
            <h2> <a href="/computers/<%= computer.id %>"><%= computer.name %></a></h2>
            <h3>Price: <%= number_to_currency(computer.price) %></h3>
            <h3><%= computer.sale_alert %></h3>
            <img src=<%= computer.image %> alt="<%= computer.name %>">
            <h3><%= computer.description %></h3>
            <br>
        </div>
    </div>
        <% end %>
</div>