<h2><%= @computer.name %></h2>
<h4>Price: <%= @computer.price %></h4>
<h4>Tax: <%= @computer.tax %></h4>
<h3>Total: <%= @computer.total_price %></h3>
<img src=<%= @computer.image %> >
<h3>Description: <%= @computer.description %></h3>

<a href="/computers/<%= @computer.id %>/edit"> EDIT | </a>
<%= link_to "DELETE", "/computers/#{ @computer.id }", method: :delete %>
